.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px rgb(224, 47, 255);
}
body
{
   background-color: royalblue;   
}
.note
{
font-size: 15px;
color: black;
}
.copy_right_footer
{
position: fixed;
color: rgb(0, 0, 0);
bottom:0;
width: 100%;
background-color: rgb(224, 47, 255);
line-height: 3;
text-align: center;
text-shadow: rgb(183, 0, 255);
}
canvas
{
    border: 5px solid white;
    border-radius:20px ;
    box-shadow: 10px 10px 10px rgb(183, 0, 255);
    align-content: top left;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }